# Maxfiy parametrlar
.env
.env.local
.env.*.local
*.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
venv/
.venv/
env/
.python-version

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Loglar
logs/
*.log

# Scratch
scratch/

# Node.js (eski)
node_modules/
package-lock.json
npm-debug.log*
